<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather-app.jpeg">
    <link rel="stylesheet" href="/img/styles.css">
</head>

<body>
    {{>header}}
    <p>{{message}}</p>
    {{>footer}}
</body>

</html>
