<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-app.jpeg">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="container">
            <div class="section">
                <h2>The Mission</h2>
                <p>The mission is to provide accurate and up-to-date weather information to users worldwide.</p>
            </div>
            <div class="section">
                <h2>Features</h2>
                <p>The web app offers a range of features to ensure you have the information you need:</p>
                <ul>
                    <li>Current weather conditions</li>
                    <li>Detailed weather parameters including temperature, humidity, wind speed, and UV index</li>
                </ul>
            </div>
            <div class="section">
                <h2>Created By</h2>
                <div class="team-member">
                    <h3>Matan Cohen</h3>
                    <p>Matan Cohen is a skilled full-stack developer with several years of experience in the industry. Passionate about technology and innovation, Matan enjoys working on personal projects like this weather web app to continually expand his expertise and contribute valuable tools to the community.</p>
                </div>
            </div>
            <div class="section contact">
                <h2>Contact Us</h2>
                <p>If you have any questions or feedback, please feel free to reach out to us:</p>
                <p>Email: <a href="mailto:MatanCohenSW@gmail.com">MatanCohenSW@gmail.com</a></p>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>
